.Header {
	width: 100%;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Logo {
	background-image: url("../../assets/lotereya_label.svg");
	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	width: 25vw;
	height: 30vh;
	min-height: 230px;
}

.Main {
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.ImageAllGifts {
	background-image: url("../../assets/all_gifts.svg");
	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	width: 90vw;
	height: 60vh;
	position: absolute;
	top: -7vh;
}

.ButtonStart {
	background-image: url("../../assets/lotereya_button.svg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 10vh;
    position: absolute;
    bottom: 5vh;
    background-color: transparent;
    border: none;
}

.ContainerSwiper {
	width: 50vw;
	height: 60vh;
	position: absolute;
	top: -7vh;
}

